[Unit]
Description=Share 
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/<location>/hc.sh

[Install]
WantedBy=multi-user.target
