[Unit]
Description=Share 
After=network-online.target time-sync.target
Wants=network-online.target time-sync.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/hc.sh

[Install]
WantedBy=multi-user.target
